<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>newStockNote</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StockManagerServlet</display-name>
    <servlet-name>StockManagerServlet</servlet-name>
    <servlet-class>com.stocknote.servlet.StockManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockManagerServlet</servlet-name>
    <url-pattern>/StockManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountManagerServlet</display-name>
    <servlet-name>AccountManagerServlet</servlet-name>
    <servlet-class>com.stocknote.servlet.AccountManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountManagerServlet</servlet-name>
    <url-pattern>/AccountManagerServlet</url-pattern>
  </servlet-mapping>
</web-app>